* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

.site-container {
  max-width: 1100px;
  min-height: 500px;
  margin: 0 auto;
}

@font-face {
  font-family: GillSans;
  src: url(../css/fonts/GillSans.ttc);
}
@font-face {
  font-family: Proxima;
  src: url(../css/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
@media only screen and (max-width: 760px) {
  nav {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  nav .logo {
    width: 42px;
    height: 22px;
    background-color: aqua;
    background-image: url(../images/logo/logo-white.png);
  }
  nav .links {
    height: 42px;
    width: 100px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: blue;
  }
}
@media only screen and (max-width: 760px) {
  .promo-trips {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .trip {
    margin-bottom: 20px;
  }

  .overlay {
    position: relative;
  }
}
@media only screen and (max-width: 760px) {
  .two-inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .two-inputs .short-input input {
    margin-bottom: 18px;
  }

  .three-inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .three-inputs .small-input label {
    margin-bottom: 18px;
  }
  .three-inputs .small-input input {
    margin-bottom: 18px;
  }
}
.trip {
  width: 236px;
  height: 304px;
  background-color: aquamarine;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.trip img {
  width: 236px;
  height: 304px;
  position: relative;
}
.trip .overlay {
  width: 236px;
  height: 325px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 450px;
}
.trip .overlay .title-price {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 50px;
}
.trip .overlay .title-price .title {
  font-size: 60px;
  font-family: GillSans;
  color: white;
}
.trip .overlay .title-price .price {
  width: 150px;
  font-size: 30px;
  font-family: GillSans;
  color: white;
  margin: 0 auto;
}
.trip .overlay .button {
  position: absolute;
  top: 200px;
  left: 50px;
  font-size: 15px;
  font-family: GillSans;
  background-color: #79ADDC;
  border-radius: 20px;
  color: #fff;
  padding: 11px 21px;
  border: none;
  width: 143px;
  height: 40px;
}

nav {
  position: fixed;
  height: 90px;
  width: 60%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid;
  border-color: white;
}
nav .logo {
  width: 92px;
  height: 42px;
  color: white;
  font-family: GillSans;
  background-image: url(../images/logo/logo-white.png);
}
nav .links {
  height: 42px;
  width: 550px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav .links .line {
  color: #79ADDC;
}
nav .links a {
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  font-family: GillSans;
  font-size: 15px;
}

.home .hero {
  width: 1280;
  height: 500px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../images/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .hero .callout-container {
  height: 275px;
  width: 800px;
}
.home .hero .callout-container .callout {
  width: 226px;
  height: 60px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 90px;
  color: white;
  font-size: 60px;
  font-family: GillSans;
}
.home .hero .callout-container .description {
  width: 416px;
  height: 46px;
  margin: 0 auto;
  padding-bottom: 90px;
  color: white;
  font-size: 16px;
  font-family: GillSans;
  text-align: center;
}
.home .hero .callout-container .read-more {
  width: 121px;
  height: 30px;
  padding: 5px 15px;
  margin: 0 auto;
  background-color: #79ADDC;
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.home .promo-trips {
  margin-top: -50px;
  min-height: 304px;
  background-color: rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
}
.home .booking {
  min-height: 400px;
  padding: 50px;
}
.home .booking h1 {
  font-size: 60px;
  font-family: proxima;
}
.home .booking .booking-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.home .booking .booking-wrapper .two-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 18px;
}
.home .booking .booking-wrapper .two-inputs .short-input input {
  width: 290px;
  height: 50px;
  border: 1px solid #79ADDC;
}
.home .booking .booking-wrapper .long-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 18px;
}
.home .booking .booking-wrapper .long-input label {
  font-size: 18px;
  font-family: GillSans;
}
.home .booking .booking-wrapper .long-input input {
  width: 80%;
  height: 50px;
  border: 1px solid #79ADDC;
}
.home .booking .booking-wrapper .three-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}
.home .booking .booking-wrapper .three-inputs .small-input label {
  font-size: 18px;
  font-family: GillSans;
}
.home .booking .booking-wrapper .three-inputs .small-input input {
  width: 103px;
  height: 50px;
  border: 1px solid #79ADDC;
}
.home .booking .booking-wrapper .message {
  margin-bottom: 30px;
}
.home .booking .booking-wrapper .message input {
  width: 100%;
  height: 192px;
  border: 1px solid #79ADDC;
}
.home .booking .booking-wrapper .booking-submit {
  background-color: #79ADDC;
  border-radius: 20px;
  color: #fff;
  padding: 11px 21px;
  border: none;
  width: 100%;
  height: 50px;
}

footer {
  height: 100px;
  width: 1280;
  background-color: #79ADDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .logo {
  width: 92px;
  height: 42px;
  color: white;
  font-family: GillSans;
  background-image: url(../images/logo/logo-white.png);
}
footer .copyright {
  color: white;
  font-size: 12px;
  font-family: GillSans;
}
footer .social-icons {
  height: 42px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: aqua;
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}